body{
    background-color:lightblue;
}
#headersection{
    padding: 5px;
}
#bodysection
{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    width: 650px;
    padding: 10px;
    margin-top: 20px;
    
    
}
#headersection h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    padding: 10px;
    border-radius: 5px;
}
#box{
    padding: 10px;
    border-radius: 5px;
    width:12%;   
}
#btn{
    padding: 10px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}


